<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Liste réservations</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
	crossorigin="anonymous">
</head>
<body>
	<h1>Liste des réservations</h1>

	<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nom</th>
      <th scope="col">Nombres de jours</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  
    <tr th:each="reservation : ${ listeR }">
      <th scope="row" th:text="${reservation.id}"></th>
      <td th:text="${reservation.date}"></td>
      <td th:text="${reservation.nbJours}"></td>
      <td>
      	<a th:href="'/deleteReservation/' + ${ reservation.id }"><button type="button" class="btn btn-danger">Supprimer</button></a>
      	<a th:href="'/modifierReservation/' + ${ reservation.id }"><button type="button" class="btn btn-primary">modifier</button></a>
      </td>
    </tr>
    
  </tbody>
</table>
</body>
</html>